body {
  margin: 0;
  border: solid green;
}

#container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(14, 1fr);
  grid-template-columns: repeat(14, 1fr);
  border: solid blue;
}

#header-left {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 7;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  background-color: white;
  /* border: solid red; */
  padding-left: 10px;
}

#header-right {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 7;
  grid-column-end: 14;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: white;
  border: solid red;
  padding-right: 15px;
  padding-top: 14px;
}

#content-homepage {
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  grid-row-start: 2;
  grid-row-end: 14;
  grid-column-start: 1;
  grid-column-end: 14;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#bottom-homepage {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#content-cart {
  background-color: #eff2f1;
  width: 100vw;
  grid-row-start: 2;
  grid-row-end: 14;
  grid-column-start: 1;
  grid-column-end: 14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid orange;
  padding-top: 100px;
  padding-bottom: 100px;
}

#cart-container {
  background-color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  border: solid red;
  border-radius: 10px;
}

#tripSearch {
  background-color: white;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 120px;
  margin-bottom: 140px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#tripResults {
  background-color: white;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-right: 100px;
  margin-left: 50px;
  margin-top: 120px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.tripContainer {
  background-color: #eff2f1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

.cart-tripContainer {
  background-color: #eff2f1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border: solid green;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#total-footer {
  /* background-color: #01163e; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid green;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.logo {
  color: #469e85;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.menu {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
  padding-right: 8px;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

h5 {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.input {
  font-family: "Open Sans", sans-serif;
  background-color: #eff2f1;
  color: #898c8c;
  border: solid #eff2f1;
  border-radius: 3px;
  padding: 5px;
}

#trip-date {
  margin-top: 30px;
  margin-bottom: 50px;
}

#btn-search {
  background-color: #469e85;
  width: 200px;
  height: 30px;
  margin-top: 2vh;
  margin-bottom: 20px;
  padding: 17px;
  border: 2px #ffffff solid;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#btn-book {
  background-color: #469e85;
  height: 30px;
  width: 50px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 10px;
  border: 2px #eff2f1 solid;
}

#btn-purchase {
  background-color: #469e85;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: 2px #469e85 solid;
}

#train-logo {
  width: 120px;
  margin-bottom: 50px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 12px;
  padding: 5px;
}

.cart-info {
  padding-left: 100px;
  padding-right: 100px;
}
